<mat-card class="item-container hue hovered slideInUp" (click)="openDetail()" [class.accent]="task.status">
  <h1>
    {{task.title}}
    {{task.createdOn | date}}
  </h1>
  <div class="item-actions right">
    <!--<button mat-icon-button color="primary">
      <mat-icon svgIcon="add" class="item-icon" aria-label="Open details"></mat-icon>
    </button>-->
    <div class="item-checkbox" matTooltip="{{task.status ? 'Uncheck' : 'Check'}}" [matTooltipPosition]="'left'" (click)="toggleStatus($event)">
      <input type="checkbox" name="done" [(ngModel)]="task.status">
      <span></span>
    </div>
  </div>
</mat-card>
