.detail-container {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    margin: 20px;
    border: 2px solid #212121;
}

.detail-container.hue {
    color: #212121;
}

.detail-container mat-card-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.detail-date {
  float: right;
}

.detail-container mat-card-content {
    position: absolute;
    font-size: 24px;
    left: 40px; right: 40px; bottom: 40px; top: 90px;
    padding: 20px;
}

.detail-container mat-card-actions {
    position: absolute;
    right:50px; bottom:80px;
}
