.menu-container {
    float: right;
    height: 70px;
    overflow: visible;
    z-index: 100;
}

.menu-container button {
    width: 70px; height: 70px;
    margin-left: 16px;
    border: 1px solid #000;
    background-color: #fff;
}

.menu-container button:hover {
    background-color: #E3F2FD !important;
}

.item-actions button, .menu-icon {
    width: 40px; height: 40px; 
    margin: 0px 4px;
}

.menu-container button:first-child {
    float: left;
}

.menu-container button:last-child {
    float: right;
}